openapi: 3.0.0

info:
  title: ''
  version: ''

servers:
  - url: https://www-dev1.tcsbank.ru/api/miof
    variables: {}

components:
  schemas:
    ru.tinkoff.trading.commons.currency.Currency:
      type: object
      required:
        - name
        - code
      properties:
        name:
          type: string
        code:
          type: string
    ru.tinkoff.trading.commons.currency.MoneyAmount:
      type: object
      required:
        - currency
        - value
      properties:
        currency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
          description: Валюта
        value:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Значение
    ru.tinkoff.trading.commons.fix.model.package.BondDefinition:
      type: object
      required:
        - couponValue
        - nkd
        - couponPeriodDays
      properties:
        couponValue:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
        nkd:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
        couponPeriodDays:
          format: int32
          type: integer
        nextCouponDate:
          format: dateTime
          type: string
        buyBackDate:
          format: dateTime
          type: string
    ru.tinkoff.trading.commons.fix.model.package.PriceScale:
      type: object
      required:
        - scaleFactor
        - scaleStep
      properties:
        scaleFactor:
          format: int32
          type: integer
        scaleStep:
          format: int32
          type: integer
    ru.tinkoff.trading.commons.fix.model.package.SecurityDefinitionEntry:
      type: object
      required:
        - underlyingIdSource
        - underlyingSymbol
        - underlyingSecurityId
        - underlyingSecurityDesc
        - underlyingSecurityExchange
      properties:
        underlyingIdSource:
          type: string
        underlyingSymbol:
          type: string
        underlyingSecurityId:
          type: string
        underlyingSecurityDesc:
          type: string
        settleCurrency:
          type: string
        ratioQty:
          type: string
        underlyingSecurityExchange:
          type: string
        underlyingSecurityType:
          type: string
        underlyingMaturityMonthYear:
          type: string
        scale:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.fix.model.package.PriceScale"
        faceValue:
          type: string
        bondDefinition:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.fix.model.package.BondDefinition"
    ru.tinkoff.trading.commons.fix.model.package.SecurityId:
      type: object
      required:
        - classCode
        - exchangeCode
      properties:
        classCode:
          type: string
          description: Код класса
        exchangeCode:
          type: string
          description: Код инструмента на бирже
    ru.tinkoff.trading.middle.admin.package.AdminFuturesPosition:
      description: Позиция клиента по фьючерсам
      type: object
      required:
        - ticker
        - accountId
        - balance
        - blocked
      properties:
        ticker:
          type: string
          description: Тикер
        accountId:
          type: string
          description: Торгово-клиринговый счёт
        balance:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Баланс
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
    ru.tinkoff.trading.middle.admin.package.AdminMoneyPosition:
      description: Позиция клиента по валюте
      type: object
      required:
        - currency
        - amount
        - blocked
        - kind
      properties:
        currency:
          type: string
          description: Валюта
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Количество
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокированное количество
        kind:
          type: string
          description: Тип лимита
    ru.tinkoff.trading.middle.admin.package.AdminSecurityPosition:
      description: Позиция клиента по ц/б
      type: object
      required:
        - balance
        - blocked
        - kind
        - ticker
        - accountId
      properties:
        balance:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Текущий баланс
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
        kind:
          type: string
          description: Тип лимита
        ticker:
          type: string
          description: ID инструмента
        accountId:
          type: string
          description: ТКС
    ru.tinkoff.trading.middle.admin.package.FortsUploadingStatusResponse:
      description: Статус выгрузки лимитов по фьючерсам
      type: object
      required:
        - fortsLimitsLoadingInProgress
      properties:
        fortsLimitsLoadingInProgress:
          type: boolean
          description: true если в текущий момент идёт выгрузка лимитов
    ru.tinkoff.trading.middle.admin.package.GetAccountsResponse:
      description: Список используемых торгово-клиринговых счетов
      type: object
      required:
        - accounts
      properties:
        accounts:
          type: array
          items:
            type: string
          description: Список используемых торгово-клиринговых счетов
    ru.tinkoff.trading.middle.admin.package.GetPositionsRequest:
      description: Запрос на получение позиций клиента
      type: object
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.admin.package.GetPositionsResponse:
      description: Позиции клиента
      type: object
      required:
        - clientCode
        - agreementId
        - security
        - money
        - futures
      properties:
        clientCode:
          type: string
          description: Код клиента
        futuresClientCode:
          type: string
          description: Код срочной секции
        agreementId:
          type: string
          description: Номер договора
        security:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.AdminSecurityPosition"
          description: Позиции по бумагам
        money:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.AdminMoneyPosition"
          description: Позиции по деньгам
        futures:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.AdminFuturesPosition"
          description: Позиции по фьючерсам
    ru.tinkoff.trading.middle.admin.package.PositionsLoadingStatusResponse:
      description: Статус выгрузки лимитов
      type: object
      required:
        - limitsLoadingInProgress
      properties:
        limitsLoadingInProgress:
          type: boolean
          description: true если в текущий момент идёт выгрузка лимитов
    ru.tinkoff.trading.middle.admin.package.SetFuturesRequest:
      description: Запрос на установку позиции по фьючерсу
      type: object
      required:
        - clientCode
        - account
        - ticker
        - quantity
      properties:
        clientCode:
          type: string
          description: Код клиента
        account:
          type: string
          description: Торгово-клиринговый счёт
        ticker:
          type: string
          description: Тикер
        quantity:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Баланс
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
    ru.tinkoff.trading.middle.admin.package.SetMoneyRequest:
      description: Запрос на установку позиции по валюте
      type: object
      required:
        - clientCode
        - currency
        - kind
        - amount
      properties:
        clientCode:
          type: string
          description: Код клиента
        currency:
          type: string
          description: Валюта
        kind:
          type: string
          enum:
            - '0'
            - '1'
            - '2'
            - '365'
          description: Вид лимита
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Баланс
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
    ru.tinkoff.trading.middle.admin.package.SetSecurityRequest:
      description: Запрос на установку позиции по бумаге
      type: object
      required:
        - clientCode
        - ticker
        - account
        - quantity
        - kind
      properties:
        clientCode:
          type: string
          description: Код клиента
        ticker:
          type: string
          description: Тикер
        account:
          type: string
          description: Торгово-клиринговый счет
        quantity:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Баланс
        kind:
          type: string
          enum:
            - '0'
            - '1'
            - '2'
            - '365'
          description: Вид лимита
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
    ru.tinkoff.trading.middle.admin.package.StartUploadRequest:
      description: Запрос на старт выгрузки лимитов
      type: object
      required:
        - apiKey
      properties:
        apiKey:
          type: string
          description: Секретный ключ авторизации
    ru.tinkoff.trading.middle.admin.package.SummaryBalanceResponse:
      description: Список суммарных остатков клиентских средств на текущий момент
        времени
      type: object
      required:
        - values
      properties:
        values:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.SummaryCurrencyBalanceResponse"
    ru.tinkoff.trading.middle.admin.package.SummaryCurrencyBalanceResponse:
      description: Суммарный остаток клиентских средств по валюте и типу лимита
      type: object
      required:
        - currency
        - limitKind
        - amount
      properties:
        currency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
        limitKind:
          type: string
          enum:
            - '0'
            - '1'
            - '2'
            - '365'
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
    ru.tinkoff.trading.middle.admin.package.UpdateFakeIsinRequest:
      description: Запрос на замену фейковых isin облигаций по первичному размещению
      type: object
      required:
        - orderNum
        - fakeIsin
        - isin
      properties:
        orderNum:
          type: string
          description: Номер заявки
        fakeIsin:
          type: string
          description: ISIN облигации при размещении
        isin:
          type: string
          description: Действительный ISIN облигации
    ru.tinkoff.trading.middle.debt.RegulationRequest:
      description: Запрос на урегулирование задолженности по деньгам
      type: object
      properties:
        disabledCurrencies:
          type: string
          description: Список отключенных валютных пар - передавать тикеры, разделённые
            запятой
        disabledExchanges:
          type: string
          description: Список отключенных бирж - передавать биржи(Moex, Spb), разделённые
            запятой
        enabledCurrencies:
          type: string
          description: Список включенных валютных пар - передавать тикеры, разделённые
            запятой
        enabledExchanges:
          type: string
          description: Список включенных бирж - передавать биржи(Moex, Spb), разделённые
            запятой
    ru.tinkoff.trading.middle.order.ExecutionReportRequest:
      description: Запрос на получение информации по заявке
      type: object
      required:
        - orderId
      properties:
        orderId:
          type: string
          description: Номер заявки
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.order.ExecutionReportStageView:
      description: Сделка
      type: object
      required:
        - price
        - quantity
        - tradeId
      properties:
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена лота, по которой прошла сделка
        quantity:
          format: int64
          type: integer
          description: Количество исполненных лотов
        tradeId:
          type: string
          description: Идентификатор сделки
    ru.tinkoff.trading.middle.order.ExecutionReportSummary:
      description: Идентификатор заявки (поручения)
      type: object
      required:
        - id
        - executionReportStatus
        - lotsRequested
        - lotsExecuted
        - initialOrderPrice
        - executedOrderPrice
        - totalOrderAmount
        - averagePositionPrice
        - initialCommission
        - executedCommission
        - ticker
        - classCode
        - side
        - clientCode
        - initialSecurityPrice
        - stages
        - currency
        - commissionCurrency
        - orderType
        - orderDate
        - expirationTime
        - timeInForceType
      properties:
        id:
          type: string
        executionReportStatus:
          type: string
          enum:
            - PendingCancel
            - PendingReplace
            - Fill
            - PartiallyFill
            - Rejected
            - Cancelled
            - PendingNew
            - Replaced
            - New
          description: Текущий статус заявки (поручения)
        lotsRequested:
          format: int64
          type: integer
          description: Запрошено лотов
        lotsExecuted:
          format: int64
          type: integer
          description: Исполнено лотов
        text:
          type: string
          description: Текст ошибки
        initialOrderPrice:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Начальная (запрошенная) полная стоимость заявки (не включая
            комиссии)
        executedOrderPrice:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Конечная (фактически исполненная) стоимость заявки (не включая
            комиссии)
        totalOrderAmount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Текущая стоимость заявки (фактически исполненная стоимость
            на текущий момент + ещё не исполненные лоты по изначально запрошенной
            цене) (не включая комиссии)
        averagePositionPrice:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Средняя цена позиции по сделке
        initialCommission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Предполагаемая комиссия по поручению
        executedCommission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Фактическая комиссия по поручению
        ticker:
          type: string
          description: Тикер
        classCode:
          type: string
          description: Код класса/торгов
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: 'Направление: покупка/продажа'
        clientCode:
          type: string
          description: Биржевой код клиента
        initialSecurityPrice:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Начальная (запрошенная) цена за один лот (равна нулю для заявок,
            сделанных напрямую через QUIK/стоп-заявок/урегулирующих заявок)
        stages:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.order.ExecutionReportStageView"
          description: Стадии выполнения заявки (сделки)
        serviceCommission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Комиссия за обслуживание счёта (сервисная/разовая комиссия)
        currency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
          description: Валюта поручения
        commissionCurrency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
          description: Валюта комиссии
        orderType:
          type: string
          enum:
            - Market
            - Limit
          description: Тип заявки
        orderDate:
          format: dateTime
          type: string
          description: Дата/время выставления заявки в ISO формате (напр. 1994-05-20T00:00:00)
        expirationTime:
          format: dateTime
          type: string
          description: Дата/время снятия заявки в ISO формате (напр. 1994-05-20T00:00:00)
        timeInForceType:
          type: string
          enum:
            - Day
            - FillAndKill
            - FillOrKill
          description: Алгоритм исполнения, с которым был подана заявка
        priceInPoints:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Стоимость фьючерса в пунктах
    ru.tinkoff.trading.middle.order.GetReportResponse:
      description: Отчёт по заявке
      type: object
      properties:
        order:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.order.ExecutionReportSummary"
    ru.tinkoff.trading.middle.order.MarginLimitRequest:
      description: Запрос на расчёт доступного лимита на покупку/продажу с плечом
      type: object
      required:
        - ticker
        - classCode
        - side
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        ticker:
          type: string
          description: Тикер инструмента
        classCode:
          type: string
          description: Код класса инструмента
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: Направление (покупка/продажа)
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена
    ru.tinkoff.trading.middle.order.MarginLimitResponse:
      description: Ответ на запрос расчёта доступного лимита на покупку/продажу с
        плечом
      type: object
      required:
        - value
      properties:
        value:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: 'Результат: для операций покупки - доступный лимит (на какую
            сумму клиент может купить), для операций продажи - кол-во лотов инструмента
            (сколько клиент может продать)'
    ru.tinkoff.trading.middle.order.OrderAmountRequest:
      description: Запрос на получение стоимости заявки
      type: object
      required:
        - ticker
        - lots
        - price
        - side
        - classCode
        - isPurchaseFromCard
      properties:
        ticker:
          type: string
          description: Тикер инструмента
        lots:
          format: int32
          type: integer
          description: Количество лотов
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена заявки
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: Направление
        clientId:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        classCode:
          type: string
          description: Код класса инструмента
        isPurchaseFromCard:
          type: boolean
          description: Флаг, указывающий, является ли заявка покупкой с карты
        serviceCommissionRequired:
          type: boolean
          description: Флаг, указывающий, необходимо ли запрашивать комиссию за обслуживание
    ru.tinkoff.trading.middle.order.OrderAmountResponse:
      description: Ответ на запрос о стоимости заявки
      type: object
      required:
        - commission
        - rawAmount
        - available
      properties:
        commission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Ответ на запрос о стоимости заказа
        rawAmount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Стоимость сделки при успешном исполнении заявки
        serviceCommission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Комиссия за обслуживание (возвращается только если запрос был
            сделан с флагом serviceCommissionRequired)
        available:
          type: boolean
          description: Флаг, указывающий, доступен ли клиенту эта заявка
        reason:
          type: string
          description: Причина недоступности заявки
        priceInPoints:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Стоимость фьючерса в пунктах
    ru.tinkoff.trading.middle.order.OrderCancelRequest:
      description: Запрос на отмену биржевой заявки
      type: object
      required:
        - orderId
      properties:
        orderId:
          type: string
          description: Номер заявки
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.order.OrderRequest:
      description: Запрос на исполнение заявки
      type: object
      required:
        - ticker
        - lots
        - price
        - side
        - classCode
        - timeInForce
        - isPurchaseFromCard
      properties:
        ticker:
          type: string
          description: Тикер инструмента
        lots:
          format: int32
          type: integer
          description: Количество лотов
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена заявки
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: Направление
        clientId:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        classCode:
          type: string
          description: Код класса инструмента
        timeInForce:
          type: string
          enum:
            - Day
            - FillAndKill
            - FillOrKill
          description: Алгоритм исполнения заявки
        orderType:
          type: string
          enum:
            - Market
            - Limit
          description: Тип заявки (если не указан, используется 'Лимитная')
        paymentId:
          type: string
          description: Идентификатор платежа (при покупку с карты)
        isPurchaseFromCard:
          type: boolean
          description: Флаг, указывающий, является ли заявка покупкой с карты
        tradeCommission:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Комиссия за сделку (если не указана, будет рассчитана)
        tradeCommissionCurrency:
          type: string
          description: Валюта комиссии за сделку
        serviceCommission:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Комиссия за обслуживание (если не указана, не будет использоваться)
        serviceCommissionCurrency:
          type: string
          description: Валюта комиссии за обслуживание
        appName:
          type: string
          description: Интерфейс выставления заявки
    ru.tinkoff.trading.middle.order.SimpleOrderAmountRequest:
      description: Упрощённый запрос на получение стоимости заявки
      type: object
      required:
        - ticker
        - lots
        - price
        - side
        - classCode
      properties:
        ticker:
          type: string
          description: Тикер инструмента
        lots:
          format: int32
          type: integer
          description: Количество лотов
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена заявки
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: Направление
        clientId:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        classCode:
          type: string
          description: Код класса инструмента
        serviceCommissionRequired:
          type: boolean
          description: Флаг, указывающий, необходимо ли запрашивать комиссию за обслуживание
    ru.tinkoff.trading.middle.order.SimpleOrderAmountResponse:
      description: Упрощённый ответ на запрос о стоимости заказа
      type: object
      required:
        - commission
        - rawAmount
      properties:
        commission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Комиссия при успешном выполнении заявки
        rawAmount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Стоимость сделки при успешном выполнении заявки
        serviceCommission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Комиссия за обслуживание (возвращается только если запрос был
            сделан с флагом serviceCommissionRequired)
        priceInPoints:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Стоимость фьючерса в пунктах
    ru.tinkoff.trading.middle.order.shortCloser.domain.CancelShortsRequest:
      description: Запрос на закрытие отрицательных позиций по инструменту
      type: object
      required:
        - ticker
        - classCode
      properties:
        ticker:
          type: string
          description: Тикер
        classCode:
          type: string
          description: Код класса инструмента
    ru.tinkoff.trading.middle.order.shortCloser.domain.CancelShortsResponse:
      description: Ответ на запрос на закрытие отрицательных позиций по инструменту
      type: object
      required:
        - totalShortPositions
        - closedShortPositions
        - notClosedShortPositions
        - notClosedClients
      properties:
        totalShortPositions:
          format: int64
          type: integer
          description: Всего клиентов с отрицательной позицией
        closedShortPositions:
          format: int64
          type: integer
          description: Количество успешно закрытых шортов
        notClosedShortPositions:
          format: int64
          type: integer
          description: Количество не успешно закрытых шортов
        notClosedClients:
          type: array
          items:
            type: string
          description: Коды клиентов с неуспешно закрытыми шортами
    ru.tinkoff.trading.middle.order.stop.CancelCorporateActionStopRequest:
      description: Запрос на снятие всех активных стоп-заявок по инструменту
      type: object
      required:
        - ticker
        - classCode
      properties:
        ticker:
          type: string
          description: Тикер инструмента
        classCode:
          type: string
          description: Код класса инструмента
    ru.tinkoff.trading.middle.order.stop.CancelCorporateActionStopResponse:
      description: Ответ на снятие всех активных заявок по инструменту
      type: object
      required:
        - getStopsFromCadb
        - cancelStops
        - clientsNotify
      properties:
        getStopsFromCadb:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.order.stop.GetStopsFromCadb"
        cancelStops:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.order.stop.CancelStops"
        clientsNotify:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.order.stop.ClientsNotify"
    ru.tinkoff.trading.middle.order.stop.CancelStopRequest:
      description: Запрос на снятие стоп-заявки
      type: object
      required:
        - orderId
      properties:
        orderId:
          type: string
          description: Номер стоп-заявки
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.order.stop.CancelStops:
      description: Информация об отменённых заявках
      type: object
      required:
        - quantity
        - failedStopOrderNums
      properties:
        quantity:
          format: int64
          type: integer
          description: Количество отменённых заявок
        failedStopOrderNums:
          type: array
          items:
            type: string
          description: Номера заявок, которые не удалось отменить
    ru.tinkoff.trading.middle.order.stop.ClientsNotify:
      description: Информация о нотификациях при отмене стоп-заявок
      type: object
      required:
        - quantity
        - failedClientCodes
      properties:
        quantity:
          format: int64
          type: integer
          description: Количество клиентов, по которым отправили нотификацию
        failedClientCodes:
          type: array
          items:
            type: string
          description: Коды клиентов, по которым не удалось отправить нотификацию
    ru.tinkoff.trading.middle.order.stop.GetStopsFromCadb:
      description: Информация о стоп-заявках из CADB
      type: object
      required:
        - quantity
      properties:
        quantity:
          format: int64
          type: integer
          description: Количество активных заявок, полученных от CADB
    ru.tinkoff.trading.middle.order.stop.StopOrderReport:
      description: Отчёт о выставлении стоп-заявки
      type: object
      required:
        - fixId
        - orderId
        - clientCode
        - lotsRequested
        - ticker
        - classCode
        - orderType
        - executionReportStatus
        - timeInForceType
        - price
        - stopPrice
        - side
        - creationDate
      properties:
        fixId:
          type: string
          description: Сгенерированный идентификатор заявки
        orderId:
          type: string
          description: Номер стоп-заявки
        clientCode:
          type: string
          description: Биржевой код клиента
        lotsRequested:
          format: int32
          type: integer
          description: Запрошено лотов
        ticker:
          type: string
          description: Тикер
        classCode:
          type: string
          description: Код класса/торгов
        orderType:
          type: string
          enum:
            - StopLoss
            - StopLimit
            - TakeProfit
          description: Тип заявки
        expireDate:
          format: date
          type: string
          description: Дата до которой выставлена стоп-заявка
        executionReportStatus:
          type: string
          enum:
            - PendingCancel
            - PendingReplace
            - Fill
            - PartiallyFill
            - Rejected
            - Cancelled
            - PendingNew
            - Replaced
            - New
          description: Текущий статус заявки
        timeInForceType:
          type: string
          enum:
            - Day
            - GoodTillCancel
            - GoodTillDate
          description: Время исполнения
        price:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Цена
        stopPrice:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Стоп цена
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: 'Направление: покупка/продажа'
        errorText:
          type: string
          description: Текст ошибки
        creationDate:
          format: dateTime
          type: string
          description: Дата-время создания
        fixSessionDate:
          format: date
          type: string
          description: Дата Fix-сессии, к которой принадлежит заявка
        priceInPoints:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
        stopPriceInPoints:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
    ru.tinkoff.trading.middle.order.stop.StopRequest:
      description: Запрос на выставление стоп-заявки
      type: object
      required:
        - ticker
        - classCode
        - lots
        - stopPrice
        - orderType
        - timeInForceType
        - side
      properties:
        ticker:
          type: string
          description: Тикер
        classCode:
          type: string
          description: Класс-код
        lots:
          format: int32
          type: integer
          description: Количество лотов
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена, по которой выставится StopLimit поручение, для остальных
            игнорируется
        stopPrice:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Стоп-цена
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
        orderType:
          type: string
          enum:
            - StopLoss
            - StopLimit
            - TakeProfit
            - TakeProfit_TP
          description: Тип стоп-заявки
        timeInForceType:
          type: string
          enum:
            - Day
            - GoodTillCancel
            - GoodTillDate
          description: Алгоритм исполнения
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: 'Направление: покупка/продажа'
        expireDate:
          format: date
          type: string
          description: Дата, необходима для GoodTillDate заявок, для остальных игнорируется,
            формат yyyy-MM-dd
        appName:
          type: string
          description: Интерфейс выставления заявки
    ru.tinkoff.trading.middle.otc.domain.OtcCancelOrderRequest:
      description: Отмена заявки на внебиржевую сделку
      type: object
      required:
        - orderId
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
        orderId:
          type: string
          description: Идентификатор заявки на сделку
    ru.tinkoff.trading.middle.otc.domain.OtcCommissionResponse:
      description: Ответ на запрос комиссии для внебиржевых сделок
      type: object
      required:
        - commission
        - amount
        - total
      properties:
        commission:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Величина комиссии
        amount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Сумма сделки
        total:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Общая стоимость
    ru.tinkoff.trading.middle.otc.domain.OtcConfirmOrderRequest:
      description: Подтверждение заявки на внебиржевую сделку
      type: object
      required:
        - orderId
        - actualPrice
        - actualQuantity
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
        orderId:
          type: string
          description: Идентификатор заявки на сделку
        actualPrice:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Действительная цена единицы инструмента
        actualQuantity:
          format: int64
          type: integer
          description: Действительное количество инструмента
        faceValue:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Номинал ценной бумаги
        accruedInt:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: НКД бумаги
        deliveryDate:
          format: date
          type: string
          description: Дата поставки
        settleDate:
          format: date
          type: string
          description: Дата расчетов
        primaryAgreement:
          type: string
          description: Первичный документ
        tradeDateTime:
          format: dateTime
          type: string
          description: Дата-время сделки в ISO формате (2018-05-16T16:44:43.225)
        contractorId:
          type: string
          description: Идентификатор контрагента
    ru.tinkoff.trading.middle.otc.domain.OtcConfirmOrderResponse:
      description: Информация о подтверждённой внебиржевой сделке
      type: object
      required:
        - tradeId
      properties:
        tradeId:
          type: string
          description: Идентификатор сделки
    ru.tinkoff.trading.middle.otc.domain.OtcCreateOrderRequest:
      description: Регистрация заявки на внебиржевую покупку или продажу
      type: object
      required:
        - exchangeCode
        - price
        - quantity
        - currency
      properties:
        exchangeCode:
          type: string
          description: Идентификатор инструмента (isin)
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена единицы инструмента
        quantity:
          format: int64
          type: integer
          description: Количество инструмента
        currency:
          type: string
          description: Валюта сделки
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        faceValue:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Номинал ценной бумаги
        accruedInt:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: НКД бумаги
        priceCurrency:
          type: string
          description: Цена валюты сделки
        lotSize:
          format: int32
          type: integer
          description: Размер лота
        tradeAccount:
          type: string
          description: ТКС (торгово-клиринговый счёт)
        isPurchaseFromCard:
          type: boolean
          description: Флаг, означающий необходимость пропуска лимитирования для покупки
    ru.tinkoff.trading.middle.otc.domain.OtcCreateOrderResponse:
      description: Информация о созданной заявке на внебиржевую сделку
      type: object
      required:
        - orderId
      properties:
        orderId:
          type: string
          description: Идентификатор заявки
    ru.tinkoff.trading.middle.otc.domain.OtcListOrderResponse:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.otc.domain.OtcTradeOrder"
    ru.tinkoff.trading.middle.otc.domain.OtcMarginLimitRequest:
      description: Запрос на расчёт маржинального лимита
      type: object
      required:
        - isin
        - side
        - settleCurrency
        - price
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        isin:
          type: string
          description: ISIN
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: Направление
        settleCurrency:
          type: string
          description: Валюта расчётов
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена
        lotSize:
          format: int32
          type: integer
          description: Размер лота
    ru.tinkoff.trading.middle.otc.domain.OtcMarginLimitResponse:
      description: Ответ на запрос на доступный лимит на внебиржевую покупку/продажу,
        для покупки - значение в валюте, для продажи - количество лотов
      type: object
      required:
        - value
      properties:
        value:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
    ru.tinkoff.trading.middle.otc.domain.OtcTradeOrder:
      description: Заявка на внебиржевую сделку
      type: object
      required:
        - orderId
        - clientCode
        - exchangeCode
        - amount
        - quantity
        - price
        - currency
        - status
        - side
        - creationDate
        - commission
        - tradeAccount
      properties:
        orderId:
          type: string
          description: Идентификатор заявки на сделку
        clientCode:
          type: string
          description: Биржевой код клиента
        exchangeCode:
          type: string
          description: Идентификатор инструмента (isin)
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Сумма сделки
        quantity:
          format: int64
          type: integer
          description: Количество
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена
        currency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
          description: Валюта сделки
        status:
          type: string
          enum:
            - WAITING
            - CONFIRMED
            - CANCELLED
          description: Статус заявки
        faceValue:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Номинал ценной бумаги
        accruedInt:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: НКД бумаги
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: Направление заявки
        creationDate:
          format: dateTime
          type: string
          description: Дата-время создания заявки
        commission:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Величина комиссии
        priceCurrency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
          description: Валюта цены сделки
        tradeAccount:
          type: string
          description: ТКС (торгово-клиринговый счёт)
    ru.tinkoff.trading.middle.payment.IisLimitRequest:
      description: Запрос на получение доступного остатка к заводу на ИИС
      type: object
      required:
        - agreementId
      properties:
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.payment.IisLimitResponse:
      type: object
      required:
        - replenished
        - replenishAvailable
      properties:
        replenished:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
        replenishAvailable:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
    ru.tinkoff.trading.middle.payment.PaymentRequest:
      description: Запрос на завод денег на брокерский счёт
      type: object
      required:
        - agreementId
        - amount
        - currency
        - paymentId
        - paymentType
      properties:
        agreementId:
          type: string
          description: Номер договора
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Сумма зачисления
        currency:
          type: string
          description: Валюта зачисления
        paymentId:
          type: string
          description: Номер платежного поручения
        paymentType:
          type: string
          enum:
            - Replenishment
            - Purchase
          description: Тип завода(покупка с карты или пополнение)
        requestType:
          type: string
          enum:
            - Check
            - Pay
          description: Тип запроса (проверка/исполнение завода), если не указано -
            исполнение
    ru.tinkoff.trading.middle.payment.withdraw.package.CancelWithdrawRequest:
      description: Запрос на отмену вывода
      type: object
      required:
        - paymentId
      properties:
        paymentId:
          type: string
          description: Id отменяемого вывода
    ru.tinkoff.trading.middle.payment.withdraw.package.WithdrawRequest:
      description: Запрос на вывод денег с б/с
      type: object
      required:
        - agreementId
        - amount
        - currency
        - tax
        - paymentId
      properties:
        agreementId:
          type: string
          description: Номер договора
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Сумма вывода
        currency:
          type: string
          description: Валюта суммы вывода
        tax:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Сумма налога в рублях
        paymentId:
          type: string
          description: Id вывода
        withdrawType:
          type: string
          enum:
            - Withdraw
            - WithdrawBonus
          description: Тип вывода
    ru.tinkoff.trading.middle.positions.ActiveOrderView:
      description: Активная заявка клиента
      type: object
      required:
        - orderId
        - orderDate
        - side
        - ticker
        - orderType
        - lotsRequested
        - lotsExecuted
        - price
        - currency
      properties:
        orderId:
          type: string
          description: Номер заявки
        orderDate:
          format: dateTime
          type: string
          description: Дата/время выставления заявки
        side:
          type: string
          enum:
            - Buy
            - Sell
          description: 'Направление: покупка/продажа'
        ticker:
          type: string
          description: Тикер бумаги
        issuer:
          type: string
          description: Наименование эмитента
        instrumentType:
          type: string
          enum:
            - Futures
            - Sp
            - Etf
            - Currency
            - Share
            - Unknown
            - Bond
          description: Тип инструмента:акция/облигация/валюта/etf
        orderType:
          type: string
          enum:
            - Market
            - Limit
          description: 'Тип заявки: Market/Limit'
        lotsRequested:
          format: int64
          type: integer
          description: Запрошено лотов
        lotsExecuted:
          format: int64
          type: integer
          description: Исполнено лотов
        price:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Цена, по которой была выставлена заявка
        currency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
          description: Валюта заявки
    ru.tinkoff.trading.middle.positions.ActiveOrdersByAgreementRequest:
      description: Запрос на получение списка активных заявок по номеру договора
      type: object
      required:
        - agreementId
      properties:
        agreementId:
          type: string
          description: Номер договора клиента
    ru.tinkoff.trading.middle.positions.ActiveOrdersByAgreementResponse:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.ActiveOrderView"
    ru.tinkoff.trading.middle.positions.ActiveOrdersRequest:
      description: Запрос на получение списка активных заявок
      type: object
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.ActiveOrdersResponse:
      description: Список активных заявок клиента
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.order.ExecutionReportSummary"
    ru.tinkoff.trading.middle.positions.AdjustCurrencyRequest:
      description: Запрос на изменение позиции по валюте
      type: object
      required:
        - currency
        - amount
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
        currency:
          type: string
          description: Название/цифровой код валюты
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Сумма
        type:
          type: string
          enum:
            - Withdraw
            - WithdrawBonus
          description: Тип вывода денег
    ru.tinkoff.trading.middle.positions.AdjustSecuritiesRequest:
      description: Запрос на изменение лимитов по бумагам
      type: object
      required:
        - ticker
        - quantity
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
        ticker:
          type: string
          description: Тикер
        quantity:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Количество добавляемых бумаг
    ru.tinkoff.trading.middle.positions.ClientAccountInfoResponse:
      type: object
      required:
        - marginStatus
        - repoStatus
      properties:
        marginStatus:
          type: string
          enum:
            - enabled
            - disabled
          description: Статус услуги 'Маржинальная торговля'
        repoStatus:
          type: string
          enum:
            - allowed
            - denied
          description: 'Статус разрешенности забирать бумаги в овернайт: разрешено/запрещено'
    ru.tinkoff.trading.middle.positions.ClientPositionsRequest:
      description: Запрос на получение позиций клиента
      type: object
      properties:
        clientId:
          type: string
          description: Биржевой код клиента
        agrNum:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.GetDenyRepoStatusRequest:
      type: object
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.GetDenyRepoStatusResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: boolean
          description: Статус
    ru.tinkoff.trading.middle.positions.GetMarginStatusRequest:
      description: Запрос на получение статуса подключения маржинальной торговли
      type: object
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.GetMarginStatusResponse:
      description: Ответ на запрос на получение статуса подключения маржинальной торговли
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - enabled
            - disabled
          description: Статус подключения маржинальной торговли
    ru.tinkoff.trading.middle.positions.LiquidPortfolioRequest:
      description: Запрос состава ликвидного портфеля
      type: object
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.LiquidPortfolioResponse:
      description: Состав ликвидного портфеля
      type: object
      required:
        - currencies
        - securities
      properties:
        currencies:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.LiquidPortfolioResponseCurrency"
          description: Позиции по валюте
        securities:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.LiquidPortfolioResponseSecurity"
          description: Позиции по бумаге
    ru.tinkoff.trading.middle.positions.LiquidPortfolioResponseCurrency:
      description: Позиция по валюте, входящая в ликвидный портфель
      type: object
      required:
        - name
        - code
        - balance
        - valueRub
      properties:
        name:
          type: string
          description: Имя валюты
        code:
          type: string
          description: Код валюты
        balance:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Количество валюты
        valueRub:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Стоимость валюты в рублях по биржевому курсу
    ru.tinkoff.trading.middle.positions.LiquidPortfolioResponseSecurity:
      description: Позиция по бумаге, входящая в ликвидный портфель
      type: object
      required:
        - ticker
        - account
        - balance
        - value
        - valueRub
      properties:
        ticker:
          type: string
          description: Тикер бумаги
        account:
          type: string
          description: ТКС бумаги
        balance:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Количество бумаг
        value:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Стоимость позиции в валюте торгов
        valueRub:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Стоимость позиции в рублях по биржевому курсу
    ru.tinkoff.trading.middle.positions.MarginAttributesPayload:
      description: Маржинальные атрибуты
      type: object
      required:
        - liquidPortfolio
        - startingMargin
        - correctedMargin
        - minimalMargin
      properties:
        liquidPortfolio:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Значение ликвидного портфеля
        startingMargin:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Значение начальной маржи
        correctedMargin:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Значение скорректированной маржи
        minimalMargin:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Значение минимальной маржи
        fundsSufficiencyLevel:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Уровень достаточности средств
        riskNormOne:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Норма покрытия риска 1
        riskNormTwo:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Норма покрытия риска 2
    ru.tinkoff.trading.middle.positions.MarginAttributesRequest:
      description: Запрос на расчёт маржинальных показателей
      type: object
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.MarginAttributesResponse:
      description: Ответ на запрос на получение маржинальных атрибутов
      type: object
      properties:
        attributes:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.MarginAttributesPayload"
          description: Маржинальные атрибуты (могут отсутствовать, если торговля с
            плечом отключена)
    ru.tinkoff.trading.middle.positions.MarginPaymentRequest:
      description: Запрос на получение минимального маржинального платежа
      type: object
      required:
        - currency
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        currency:
          type: string
          description: Валюта расчёта
    ru.tinkoff.trading.middle.positions.MarginPaymentResponse:
      type: object
      required:
        - amount
      properties:
        amount:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Сумма в валюте запроса
    ru.tinkoff.trading.middle.positions.PositionsResponse:
      description: Позиции (портфель) клиента
      type: object
      required:
        - money
        - securities
        - futures
        - limitsLoadingInProgress
      properties:
        money:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.SimpleMoneyPosition"
          description: Валютные позиции клиента
        securities:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.SimpleSecurityPosition"
          description: Ценнобумажные позиции клиента
        futures:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.SimpleFuturesPosition"
          description: Фьючерсные позиции клиента
        limitsLoadingInProgress:
          type: boolean
          description: Признак идущей в данный момент выгрузки лимитов
    ru.tinkoff.trading.middle.positions.SetDenyRepoStatusRequest:
      type: object
      required:
        - status
      properties:
        clientCode:
          type: string
          description: Код клиента
        agreementId:
          type: string
          description: Номер договора
        status:
          type: string
          enum:
            - Allowed
            - Denied
          description: Новый статус
    ru.tinkoff.trading.middle.positions.SetMarginStatusRequest:
      description: Запрос на изменение статуса подключения маржинальной торговли
      type: object
      required:
        - newStatus
      properties:
        clientCode:
          type: string
          description: Биржевой код клиента
        agreementId:
          type: string
          description: Номер договора
        forceDisable:
          type: boolean
          description: Проверять ли при отключении плановые позиции (по умолчанию
            проверять)
        newStatus:
          type: string
          enum:
            - enabled
            - disabled
          description: Новый статус подключения маржинальной торговли
    ru.tinkoff.trading.middle.positions.SimpleFuturesPosition:
      description: Фьючерсная позиция
      type: object
      required:
        - balance
        - blocked
        - ticker
        - account
      properties:
        balance:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Текущий баланс
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
        ticker:
          type: string
          description: Идентификатор позиции
        account:
          type: string
          description: ТКС (торгово-клиринговый счёт) позиции
    ru.tinkoff.trading.middle.positions.SimpleMoneyPosition:
      description: Валютная позиция
      type: object
      required:
        - balance
        - blocked
        - kind
      properties:
        balance:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Текущий баланс
        blocked:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Заблокировано
        kind:
          type: string
          description: Вид лимита (T0, T1, T2, T365)
    ru.tinkoff.trading.middle.positions.SimpleSecurityPosition:
      description: Ценнобумажная позиция
      type: object
      required:
        - balance
        - blocked
        - kind
        - ticker
        - account
      properties:
        balance:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Текущий баланс
        blocked:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
          description: Заблокировано
        kind:
          type: string
          description: Вид лимита (T0, T1, T2, T365)
        ticker:
          type: string
          description: Идентификатор позиции
        account:
          type: string
          description: ТКС (торгово-клиринговый счёт) позиции
    ru.tinkoff.trading.middle.positions.WithdrawLimitRequest:
      description: Запрос на получение лимита на вывод
      type: object
      required:
        - agrNum
      properties:
        agrNum:
          type: string
          description: Номер договора
    ru.tinkoff.trading.middle.positions.WithdrawLimitResponse:
      description: Ответ на запрос доступного лимита для вывода
      type: object
      required:
        - money
        - bonusWithdrawalDate
      properties:
        money:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.positions.SimpleMoneyPosition"
        bonusWithdrawalDate:
          format: date
          type: string
    ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse:
      description: Стандартная модель ошибки приложения
      type: object
      required:
        - payload
        - trackingId
        - time
        - status
      properties:
        payload:
          type: object
          required:
            - message
            - code
            - info
          properties:
            message:
              type: string
            code:
              type: string
            info:
              type: object
              additionalProperties:
                type: string
          description: Описание ошибки
        trackingId:
          type: string
          description: Трек-номер
        time:
          format: dateTime
          type: string
          description: Время окончания обработки запроса
        status:
          type: string
          enum:
            - Error
            - Ok
          description: Статус
    ru.tinkoff.trading.middle.security.CheckSecurityExistenceResponse:
      description: Статус наличия информации об инструменте в Middle
      type: object
      required:
        - status
      properties:
        status:
          type: boolean
          description: Знает ли Middle о таком инструменте
    ru.tinkoff.trading.middle.security.SecuritiesListResponse:
      type: object
      required:
        - securities
      properties:
        securities:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.symbol.MarketSymbol"
    ru.tinkoff.trading.middle.security.SecurityInfoResponse:
      description: Информация по бумаге из Fix-адаптера
      type: object
      required:
        - fixString
      properties:
        fixString:
          type: string
          description: Строка ответа Fix-адаптера
        securityDefinition:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.fix.model.package.SecurityDefinitionEntry"
          description: Разобранный ответ Fix-адаптера
        marketSymbol:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.symbol.MarketSymbol"
          description: Внутреннее представление бумаги в Middle-Office
    ru.tinkoff.trading.middle.security.SecurityRequest:
      type: object
      required:
        - ticker
        - classCode
      properties:
        ticker:
          type: string
        classCode:
          type: string
    ru.tinkoff.trading.middle.symbol.BondProperties:
      type: object
      required:
        - couponValue
        - nkd
      properties:
        couponValue:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
        nkd:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
    ru.tinkoff.trading.middle.symbol.MarketSymbol:
      type: object
      required:
        - securityId
        - symbolType
        - lotSize
        - priceScale
        - currency
        - firmId
        - accountId
        - faceValue
      properties:
        securityId:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.fix.model.package.SecurityId"
        symbolType:
          type: string
          enum:
            - Futures
            - Currency
            - ETF
            - Unknown
            - Index
            - Bond
            - Stock
        lotSize:
          format: int32
          type: integer
        priceScale:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.fix.model.package.PriceScale"
        currency:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.Currency"
        firmId:
          type: string
        accountId:
          type: string
        faceValue:
          format: double
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
        bondProperties:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.symbol.BondProperties"
    ru.tinkoff.trading.middle.system.TradingVersion:
      description: Информация о сборке приложения
      type: object
      required:
        - version
        - branchName
        - buildTime
        - headCommit
        - startTime
      properties:
        version:
          type: string
          description: Версия
        branchName:
          type: string
          description: Ветка в Git
        buildTime:
          type: string
          description: Дата и время компиляции
        headCommit:
          type: string
          description: Последний коммит
        startTime:
          type: string
          description: Дата и время запуска сервера со сборкой
    ru.tinkoff.trading.middle.tax.package.ClientTaxDebtCorrectionResponse:
      description: Ответ с корректировками клиента по налогам
      type: object
      required:
        - corrections
      properties:
        corrections:
          type: array
          items:
            "$ref": "#/components/schemas/ru.tinkoff.trading.middle.tax.package.TaxDebtCorrection"
    ru.tinkoff.trading.middle.tax.package.ClientTaxDebtResponse:
      description: Ответ на запрос получения текущей задолженности клиента по налогам
      type: object
      properties:
        debt:
          "$ref": "#/components/schemas/ru.tinkoff.trading.middle.tax.package.TaxDebt"
    ru.tinkoff.trading.middle.tax.package.TaxDebt:
      description: Задолженность клиента по налогам
      type: object
      required:
        - agreementId
        - initialAmount
        - currentAmount
      properties:
        agreementId:
          type: string
          description: Номер договора
        initialAmount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Начальная задолженность на момент первой выгрузки
        currentAmount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Текущая задолженность
    ru.tinkoff.trading.middle.tax.package.TaxDebtCorrection:
      description: Корректировка задолженности клиента по налогам
      type: object
      required:
        - agreementId
        - correctionId
        - amount
        - date
        - limitKind
        - settleDate
      properties:
        agreementId:
          type: string
          description: Номер договора
        correctionId:
          format: int64
          type: integer
          description: Уникальный ID корректировки
        amount:
          "$ref": "#/components/schemas/ru.tinkoff.trading.commons.currency.MoneyAmount"
          description: Сумма корректировки
        date:
          format: dateTime
          type: string
          description: Дата корректировки
        limitKind:
          type: string
          enum:
            - '0'
            - '1'
            - '2'
            - '365'
          description: Вид лимита корректировки
        settleDate:
          format: date
          type: string
          description: Дата списания
  securitySchemes: {}
paths:
  "/admin/forts_positions_upload_status":
    get:
      tags:
        - admin
      summary: Получение текущего статуса выгрузки фьючерсных позиций
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.FortsUploadingStatusResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/get_accounts":
    get:
      tags:
        - admin
      summary: Запрос на получение всех используемых торгово-клиринговых счетов
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.GetAccountsResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/get_positions":
    get:
      tags:
        - admin
      summary: Запрос на получение позиций клиента
      parameters:
        - name: agreementId
          in: query
          description: Номер договора
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: clientCode
          in: query
          description: Код клиента
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.GetPositionsResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Запрос на получение позиций клиента
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.GetPositionsRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.GetPositionsResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/get_summary_balance":
    get:
      tags:
        - admin
      summary: Отчёт по суммарным остаткам клиентских средств
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.SummaryBalanceResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Отчёт по суммарным остаткам клиентских средств
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.SummaryBalanceResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/margin_summary_report":
    get:
      tags:
        - admin
      summary: Отчёт о суммарных объемах по маржиналке
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Отчёт о суммарных объемах по маржиналке
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/positions_loading_status":
    get:
      tags:
        - admin
      summary: Получение текущего статуса выгрузки позиций
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.PositionsLoadingStatusResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Получение текущего статуса выгрузки позиций
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.PositionsLoadingStatusResponse"
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/set_futures":
    post:
      tags:
        - admin
      summary: Запрос на установку позиции по фьючерсам
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.SetFuturesRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/set_money":
    get:
      tags:
        - admin
      summary: Запрос на установку позиций по валюте
      parameters:
        - name: blocked
          in: query
          description: Заблокировано
          required: false
          schema:
            format: double
            exclusiveMaximum: false
            exclusiveMinimum: false
            type: number
          deprecated: false
          allowEmptyValue: false
        - name: amount
          in: query
          description: Баланс
          required: true
          schema:
            format: double
            exclusiveMaximum: false
            exclusiveMinimum: false
            type: number
          deprecated: false
          allowEmptyValue: false
        - name: kind
          in: query
          description: Вид лимита
          required: true
          schema:
            type: string
            enum:
              - '0'
              - '1'
              - '2'
              - '365'
          deprecated: false
          allowEmptyValue: false
        - name: currency
          in: query
          description: Валюта
          required: true
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: clientCode
          in: query
          description: Код клиента
          required: true
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Запрос на установку позиций по валюте
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.SetMoneyRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/set_security":
    get:
      tags:
        - admin
      summary: Запрос на установку позиций по инструменту
      parameters:
        - name: blocked
          in: query
          description: Заблокировано
          required: false
          schema:
            format: double
            exclusiveMaximum: false
            exclusiveMinimum: false
            type: number
          deprecated: false
          allowEmptyValue: false
        - name: kind
          in: query
          description: Вид лимита
          required: true
          schema:
            type: string
            enum:
              - '0'
              - '1'
              - '2'
              - '365'
          deprecated: false
          allowEmptyValue: false
        - name: quantity
          in: query
          description: Баланс
          required: true
          schema:
            format: double
            exclusiveMaximum: false
            exclusiveMinimum: false
            type: number
          deprecated: false
          allowEmptyValue: false
        - name: account
          in: query
          description: Торгово-клиринговый счет
          required: true
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: ticker
          in: query
          description: Тикер
          required: true
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: clientCode
          in: query
          description: Код клиента
          required: true
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Запрос на установку позиций по инструменту
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ru.tinkoff.trading.middle.admin.package.SetSecurityRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
  "/admin/start_positions_upload":
    get:
      tags:
        - admin
      summary: Старт выгрузки лимитов
      parameters:
        - name: apiKey
          in: query
          description: Секретный ключ авторизации
          required: true
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
          allowEmptyValue: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                  - trackingId
                  - time
                  - status
                properties:
                  payload:
                    type: object
                    properties: {}
                  trackingId:
                    type: string
                  time:
                    format: dateTime
                    type: string
                  status:
                    type: string
                    enum:
                      - Error
                      - Ok
          headers: {}
        '202':
          description: Default error response structure
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ru.tinkoff.trading.middle.schema.apiV2.Commons.ErrorResponse"
          headers: {}
      security: []
      deprecated: false
    post:
      tags:
        - admin
      summary: Старт выгрузки лимитов
      parameters:
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
          deprecated: false
[...]
