openapi: 3.0.1
info:
  title: Schema
  version: 1.0.0
servers:
  - url: //www-qa2.tcsbank.ru/api/trading/
tags:
  - name: stocks
    description: ""
  - name: bonds
    description: ""
  - name: notes
    description: ""
  - name: currency
    description: ""
  - name: etfs
    description: ""
  - name: user
    description: ""
  - name: usergroups
    description: ""
  - name: portfolio
    description: ""
  - name: payment
    description: ""
  - name: documents
    description: ""
  - name: isg
    description: ""
  - name: advisor
    description: ""
  - name: symbols
    description: ""
  - name: other
    description: ""
  - name: invest_profile
    description: ""
  - name: activities
    description: ""
  - name: logs
    description: ""
  - name: order
    description: ""
  - name: status
    description: ""
  - name: widgets
    description: ""
  - name: futures
    description: ""
paths:
  /activities/call_activity:
    get:
      tags:
        - activities
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - activities
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityCallRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /activities/reload_symbol_storage:
    get:
      tags:
        - activities
      summary: Метод для обновления списка бумаг
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - activities
      summary: Метод для обновления списка бумаг
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос без параметров
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmptyRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /advisor/add_collection:
    get:
      tags:
        - advisor
      parameters:
        - name: currency
          in: query
          required: true
          schema:
            type: string
            enum:
              - RUB
              - USD
        - name: actualAmount
          in: query
          required: true
          schema:
            type: number
            format: number
        - name: risk
          in: query
          required: true
          schema:
            type: number
            format: number
        - name: sharpeRatio
          in: query
          required: true
          schema:
            type: number
            format: number
        - name: yield
          in: query
          required: true
          schema:
            type: number
            format: number
        - name: items
          in: query
          description: ' Object of type array'
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorAddCollectionResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - advisor
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на добавление коллекции
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvisorAddCollectionRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorAddCollectionResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /bonds/get:
    get:
      tags:
        - bonds
      summary: Метод для получения полной информации об облигации по конкретному тикеру
        или ISIN
      parameters:
        - name: ticker
          in: query
          description: 'Тикер бумаги. Фактически для облигаций является ISIN\''ом '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Полная информация по облигации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondInfoSingleViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - bonds
      summary: Метод для получения полной информации об облигации по конкретному тикеру
        или ISIN
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос информации по конкретной облигации
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BondRequest'
        required: false
      responses:
        200:
          description: Полная информация по облигации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondInfoSingleViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /bonds/list:
    get:
      tags:
        - bonds
      summary: Метод для получения списка облигаций по заданным критериям поиска
      parameters:
        - name: start
          in: query
          description: 'Позиция начала списка. Начинается с 0 '
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          description: 'Позиция конца списка '
          schema:
            type: integer
            format: int64
        - name: sortType
          in: query
          description: 'Тип сортировки '
          required: true
          schema:
            type: string
            enum:
              - ByBuyBackDate
              - ByBuyBackYield
              - ByDateToClient
              - ByEarnings
              - ByEarnings12m
              - ByEarnings1m
              - ByEarnings3m
              - ByEarnings6m
              - ByEndDate
              - ByLotPrice
              - ByMatDate
              - ByMaturityYield
              - ByName
              - ByPrice
              - ByRate
              - ByRateAndYieldToClient
              - ByYieldToClient
        - name: orderType
          in: query
          description: 'Тип порядка. Asc - По возрастанию, Desc - по убыванию '
          required: true
          schema:
            type: string
            enum:
              - Asc
              - Desc
        - name: exchange
          in: query
          description: 'Фильтрация по имени биржи '
          schema:
            type: string
        - name: currency
          in: query
          description: 'Фильтрация по валюте '
          schema:
            type: string
            enum:
              - EUR
              - RUB
              - USD
        - name: currencies
          in: query
          description: Фильтрация по валютам Object of type array
          schema:
            type: string
        - name: sector
          in: query
          description: 'Фильтрация по отрасли '
          schema:
            type: string
        - name: country
          in: query
          description: 'Фильтрация по региону эмитента '
          schema:
            type: string
            enum:
              - All
              - Foreign
              - Russian
        - name: countryOfRisk
          in: query
          description: 'Фильтрация по региону риска (RU, US, ...) '
          schema:
            type: string
        - name: popular
          in: query
          description: 'Фильтрация по популярности эмитента '
          schema:
            type: boolean
        - name: tickers
          in: query
          description: Фильтрация по тикерам Object of type array
          schema:
            type: string
        - name: filter
          in: query
          description: 'Текстовый поиск по названию бумаги '
          schema:
            type: string
        - name: taxFree
          in: query
          description: 'Фильтрация по флагу взимания НДФЛ '
          schema:
            type: boolean
        - name: filterRisky
          in: query
          description: 'Фильтрация по соответствию риск-профилю клиента '
          schema:
            type: boolean
        - name: sectors
          in: query
          description: Список секторов для фильтрации Object of type array
          schema:
            type: string
        - name: otcType
          in: query
          description: Список типов инструментов для фильтрации Object of type array
          schema:
            type: string
        - name: filterOTC
          in: query
          description: 'Фильтр по внебиржевой бумаге '
          schema:
            type: boolean
        - name: filterMinAmount
          in: query
          description: 'Фильтр по максимальной стоимости 1 лота '
          schema:
            type: number
            format: number
        - name: floatingCoupon
          in: query
          description: 'Фильтр по параметру плавающий(true) или фиксированный(false)
          купон '
          schema:
            type: boolean
        - name: buyBackDate
          in: query
          description: 'Фильтр по дате оферты: true (есть дата оферты в будущем), false
          (дата оферты прошла или даты оферты нет) '
          schema:
            type: boolean
        - name: lotPriceMax
          in: query
          description: 'Фильтр по максимальная цена за лот (используется вместе с lotPriceMaxCurrency) '
          schema:
            type: integer
            format: int64
        - name: lotPriceMaxCurrency
          in: query
          description: 'Валюта для фильтра lotPriceMax '
          schema:
            type: string
            enum:
              - EUR
              - RUB
              - USD
        - name: serial
          in: query
          description: 'Фильтр по наличию амортизации '
          schema:
            type: boolean
        - name: subordinated
          in: query
          description: 'Фильтр по наличию субординации '
          schema:
            type: boolean
        - name: profitable
          in: query
          description: 'Фильтрация по доходности: true (доходные), false (обычные) '
          schema:
            type: boolean
        - name: reliable
          in: query
          description: 'Фильтрация по надежности: true (надежные), false (обычные) '
          schema:
            type: boolean
        - name: dateToClientMax
          in: query
          description: 'Фильтрация для показа облигации, у которых не больше, чем через
          dateToClientMax месяцев будет оферта/погашение '
          schema:
            type: integer
            format: int64
        - name: rate
          in: query
          description: 'Фильтр рейтингу облигации (низкий - 0, средний - 1, высокий
          - 2). '
          schema:
            type: integer
            format: int64
        - name: shortIsEnabled
          in: query
          description: 'Фильтр по доступности короткой позиции '
          schema:
            type: boolean
        - name: longIsEnabled
          in: query
          description: 'Фильтр по доступности длинной позиции '
          schema:
            type: boolean
        - name: perpetual
          in: query
          description: 'Фильтр по бессрочным облигациям '
          schema:
            type: boolean
        - name: isPrivate
          in: query
          description: 'Фильтр по приватным позициям '
          schema:
            type: boolean
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondPriceListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - bonds
      summary: Метод для получения списка облигаций по заданным критериям поиска
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BondsFilterRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondPriceListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /bonds/price:
    get:
      tags:
        - bonds
      summary: Метод для получения котировок по облигациям
      parameters:
        - name: ticker
          in: query
          description: 'Тикер '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Текущие котировки по облигации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondPricesEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - bonds
      summary: Метод для получения котировок по облигациям
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос цены бумаги
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceRequest'
        required: false
      responses:
        200:
          description: Текущие котировки по облигации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondPricesEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /currency/get:
    get:
      tags:
        - currency
      summary: Метод для получения полной информации о валюте по конкретному тикеру
      parameters:
        - name: ticker
          in: query
          description: 'Тикер бумаги '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Полная информация о валюте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyInfoSingleViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - currency
      summary: Метод для получения полной информации о валюте по конкретному тикеру
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос информации о бумаге по тикеру
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityRequest'
        required: false
      responses:
        200:
          description: Полная информация о валюте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyInfoSingleViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /currency/list:
    get:
      tags:
        - currency
      summary: Метод для получения списка валютных котировок
      parameters:
        - name: start
          in: query
          description: 'Позиция начала списка. Начинается с 0 '
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          description: 'Позиция конца списка '
          schema:
            type: integer
            format: int64
        - name: sortType
          in: query
          description: 'Тип сортировки '
          required: true
          schema:
            type: string
            enum:
              - ByBuyBackDate
              - ByBuyBackYield
              - ByDateToClient
              - ByEarnings
              - ByEarnings12m
              - ByEarnings1m
              - ByEarnings3m
              - ByEarnings6m
              - ByEndDate
              - ByLotPrice
              - ByMatDate
              - ByMaturityYield
              - ByName
              - ByPrice
              - ByRate
              - ByRateAndYieldToClient
              - ByYieldToClient
        - name: orderType
          in: query
          description: 'Тип порядка. Asc - По возрастанию, Desc - по убыванию '
          required: true
          schema:
            type: string
            enum:
              - Asc
              - Desc
        - name: tickers
          in: query
          description: Фильтрация по тикерам Object of type array
          schema:
            type: string
        - name: filter
          in: query
          description: 'Текстовый поиск по названию бумаги '
          schema:
            type: string
        - name: filterRisky
          in: query
          description: 'Фильтрация по соответствию риск-профилю клиента '
          schema:
            type: boolean
        - name: sectors
          in: query
          description: Список секторов для фильтрации Object of type array
          schema:
            type: string
        - name: otcType
          in: query
          description: Список типов инструментов для фильтрации Object of type array
          schema:
            type: string
        - name: shortIsEnabled
          in: query
          description: 'Фильтр по доступности короткой позиции '
          schema:
            type: boolean
        - name: longIsEnabled
          in: query
          description: 'Фильтр по доступности длинной позиции '
          schema:
            type: boolean
        - name: isPrivate
          in: query
          description: 'Фильтр по приватным позициям '
          schema:
            type: boolean
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - currency
      summary: Метод для получения списка валютных котировок
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyFilterRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /currency/price:
    get:
      tags:
        - currency
      summary: Метод для получения котировок для валюты
      parameters:
        - name: ticker
          in: query
          description: 'Тикер '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Текущие котировки для валюты.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyPricesEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - currency
      summary: Метод для получения котировок для валюты
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос цены бумаги
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceRequest'
        required: false
      responses:
        200:
          description: Текущие котировки для валюты.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyPricesEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /documents/agreement_number:
    get:
      tags:
        - documents
      summary: Получение зарезервированного номера договора
      parameters:
        - name: siebelId
          in: query
          description: 'ID пользователя '
          required: true
          schema:
            type: string
        - name: partnum
          in: query
          description: 'Part number продукта договора, определяет тип договора (тип
          продукта, брок. счёта) '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ с зарезервированным номером договора
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementNumberResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - documents
      summary: Получение зарезервированного номера договора
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение зарезервированного номера договора
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementNumberPrivateRequest'
        required: false
      responses:
        200:
          description: Ответ с зарезервированным номером договора
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementNumberResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /documents/cancel_agreement_reserves:
    get:
      tags:
        - documents
      summary: Отменяет резерв счетов в Инверсии и/или резерв номера договора в Trading
        API
      parameters:
        - name: agreementNumber
          in: query
          description: 'Номер договора резерва '
          required: true
          schema:
            type: string
        - name: brokerAccountType
          in: query
          description: 'Тип брокерского счета резерва '
          required: true
          schema:
            type: string
            enum:
              - Tinkoff
              - TinkoffIis
              - InvestBox
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ запроса отмены резервов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAgreementReservesResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - documents
      summary: Отменяет резерв счетов в Инверсии и/или резерв номера договора в Trading
        API
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Параметры запроса отмены резервов
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAgreementReservesRequest'
        required: false
      responses:
        200:
          description: Ответ запроса отмены резервов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAgreementReservesResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /documents/get_w8_prefilled_data:
    get:
      tags:
        - documents
      summary: Получение сгенерированных для формы W8 данных
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Вернуть данные для заполнения формы W8
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetW8PreFilledDataResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - documents
      summary: Получение сгенерированных для формы W8 данных
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetW8PreFilledDataRequest'
        required: false
      responses:
        200:
          description: Вернуть данные для заполнения формы W8
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetW8PreFilledDataResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /documents/iis_tax_deduction:
    get:
      tags:
        - documents
      summary: Возвращает zip архив, в котором находятся все необходимые документы
        для получения вычета по договору ИИС
      parameters:
        - name: year
          in: query
          description: 'Год, за который нужно скачать пакет документов '
          required: true
          schema:
            type: integer
            format: int64
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: File resentation
          content:
            application/json:
              schema:
                type: string
                format: binary
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - documents
      summary: Возвращает zip архив, в котором находятся все необходимые документы
        для получения вычета по договору ИИС
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение zip архива, в котором находятся все необходимые
          документы для получения вычета по договору ИИС
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IisTaxDeductionRequest'
        required: false
      responses:
        200:
          description: File resentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /documents/status:
    get:
      tags:
        - documents
      summary: Получение статуса формы (приватный)
      parameters:
        - name: siebelId
          in: query
          description: 'ID пользователя '
          required: true
          schema:
            type: string
        - name: docType
          in: query
          description: 'Тип документа '
          required: true
          schema:
            type: string
            enum:
              - InvestProfileApp
              - Договор на брокерское обслуживание
              - Договор на ведение ИИС
              - Договор на ведение ИНС
              - Договор с БКС
              - Информацией о счете
              - Пакет документов для вычета ИИС
              - Паспорт
              - Паспорт1
              - Паспорт2
              - ЭДО
              - форма W8
            x-enum-varnames:
              - ONE
              - ONE2
              - ONE3
              - ONE4
              - ONE5
              - ONE6
              - ONE7
              - ONE8
              - ONE9
              - ONE10
              - ONE11
              - ONE12
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Текущий статус обработки документа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - documents
      summary: Получение статуса формы (приватный)
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение текущего статуса по документу с указанным
          типом (приватный)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentStatusPrivateRequest'
        required: false
      responses:
        200:
          description: Текущий статус обработки документа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /documents/w8:
    get:
      tags:
        - documents
      summary: Возвращает W8 в формате pdf
      parameters:
        - name: siebelId
          in: query
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: File resentation
          content:
            application/json:
              schema:
                type: string
                format: binary
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - documents
      summary: Возвращает W8 в формате pdf
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение документа W8, ЭДО или ЗКО
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadTemplatePrivateRequest'
        required: false
      responses:
        200:
          description: File resentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /etfs/dividends:
    get:
      tags:
        - etfs
      summary: Метод для получения ETF-дивидендов
      parameters:
        - name: ticker
          in: query
          description: 'Интересующий тикер '
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: 'Начало интересующего периода выплат (в формате ГГГГ-ММ-ДД) -
          не включительно '
          schema:
            type: string
        - name: end
          in: query
          description: 'Окончание интересующего периода выплат (в формате ГГГГ-ММ-ДД)
          - включительно '
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Список дивидендов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtfDividendsResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - etfs
      summary: Метод для получения ETF-дивидендов
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение информации о выплате дивидендов
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtfDividendsRequest'
        required: false
      responses:
        200:
          description: Список дивидендов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtfDividendsResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /etfs/get:
    get:
      tags:
        - etfs
      summary: Метод для получения полной информации о ETF фонде по конкретному тикеру
      parameters:
        - name: ticker
          in: query
          description: 'Тикер бумаги '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Полная информация о etf
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtfInfoViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - etfs
      summary: Метод для получения полной информации о ETF фонде по конкретному тикеру
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос полной информации о ETF фонде по конкретному тикеру
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtfRequest'
        required: false
      responses:
        200:
          description: Полная информация о etf
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtfInfoViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /etfs/list:
    get:
      tags:
        - etfs
      summary: Метод для получения списка ETF фондов по заданным критериям поиска
      parameters:
        - name: start
          in: query
          description: 'Позиция начала списка. Начинается с 0 '
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          description: 'Позиция конца списка '
          schema:
            type: integer
            format: int64
        - name: sortType
          in: query
          description: 'Тип сортировки '
          required: true
          schema:
            type: string
            enum:
              - ByBuyBackDate
              - ByBuyBackYield
              - ByDateToClient
              - ByEarnings
              - ByEarnings12m
              - ByEarnings1m
              - ByEarnings3m
              - ByEarnings6m
              - ByEndDate
              - ByLotPrice
              - ByMatDate
              - ByMaturityYield
              - ByName
              - ByPrice
              - ByRate
              - ByRateAndYieldToClient
              - ByYieldToClient
        - name: orderType
          in: query
          description: 'Тип порядка. Asc - по возрастанию, Desc - по убыванию '
          required: true
          schema:
            type: string
            enum:
              - Asc
              - Desc
        - name: country
          in: query
          description: 'Фильтрация по региону эмитента '
          required: true
          schema:
            type: string
            enum:
              - All
              - Foreign
              - Russian
        - name: currencies
          in: query
          description: Фильтрация по валютам Object of type array
          schema:
            type: string
        - name: popular
          in: query
          description: 'Фильтрация по популярности эмитента '
          schema:
            type: boolean
        - name: tickers
          in: query
          description: Фильтрация по тикерам Object of type array
          schema:
            type: string
        - name: filter
          in: query
          description: 'Текстовый поиск по названию бумаги '
          schema:
            type: string
        - name: filterRisky
          in: query
          description: 'Фильтрация по соответствию риск-профилю клиента '
          schema:
            type: boolean
        - name: sectors
          in: query
          description: Список секторов для фильтрации Object of type array
          schema:
            type: string
        - name: otcType
          in: query
          description: Список типов инструментов для фильтрации Object of type array
          schema:
            type: string
        - name: filterOTC
          in: query
          description: 'Фильтр по внебиржевой бумаге '
          schema:
            type: boolean
        - name: profitable
          in: query
          description: 'Фильтрация по доходности: true (доходные), false (обычные) '
          schema:
            type: boolean
        - name: reliable
          in: query
          description: 'Фильтрация по надежности: true (надежные), false (обычные) '
          schema:
            type: boolean
        - name: rate
          in: query
          description: 'Фильтр рейтингу облигации (низкий - 0, средний - 1, высокий
          - 2). '
          schema:
            type: integer
            format: int64
        - name: minAmount
          in: query
          description: 'Минимальная цена покупки (USD) '
          schema:
            type: number
            format: number
        - name: countryOfRisk
          in: query
          description: 'Фильтрация по региону риска '
          schema:
            type: string
        - name: exchange
          in: query
          description: 'Фильтрация по бирже '
          schema:
            type: string
        - name: shortIsEnabled
          in: query
          description: 'Фильтр по доступности короткой позиции '
          schema:
            type: boolean
        - name: longIsEnabled
          in: query
          description: 'Фильтр по доступности длинной позиции '
          schema:
            type: boolean
        - name: isCapitalETF
          in: query
          description: 'Флаг Тинькофф Капитал ETF '
          schema:
            type: boolean
        - name: isPrivate
          in: query
          description: 'Фильтр по приватным позициям '
          schema:
            type: boolean
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ со списком ETF фондов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtfPriceListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - etfs
      summary: Метод для получения списка ETF фондов по заданным критериям поиска
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос списка ETF фондов с параметрами сортировки и фильтрации
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtfFilterRequest'
        required: false
      responses:
        200:
          description: Ответ со списком ETF фондов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtfPriceListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /etfs/price:
    get:
      tags:
        - etfs
      summary: Метод для получения котировок по ETF
      parameters:
        - name: ticker
          in: query
          description: 'Тикер '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Текущие котировки для инструментов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPricesEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - etfs
      summary: Метод для получения котировок по ETF
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос цены бумаги
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceRequest'
        required: false
      responses:
        200:
          description: Текущие котировки для инструментов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPricesEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /futures/get:
    get:
      tags:
        - futures
      summary: Метод для получения информации о фьючерсе
      parameters:
        - name: ticker
          in: query
          description: 'Тикер фьючерса '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ на получение информации о фьючерсе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesGetResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - futures
      summary: Метод для получения информации о фьючерсе
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение информации о фьючерсе
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesGetRequest'
        required: false
      responses:
        200:
          description: Ответ на получение информации о фьючерсе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesGetResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /futures/list:
    get:
      tags:
        - futures
      summary: Метод для получения информации о фьючерсе
      parameters:
        - name: tickers
          in: query
          description: Фильтрация по тикерам Object of type array
          schema:
            type: string
        - name: start
          in: query
          description: 'Позиция начала списка. Начинается с 0 '
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          description: 'Позиция конца списка '
          schema:
            type: integer
            format: int64
        - name: sortType
          in: query
          description: 'Тип сортировки '
          schema:
            type: string
            enum:
              - ByBuyBackDate
              - ByBuyBackYield
              - ByDateToClient
              - ByEarnings
              - ByEarnings12m
              - ByEarnings1m
              - ByEarnings3m
              - ByEarnings6m
              - ByEndDate
              - ByLotPrice
              - ByMatDate
              - ByMaturityYield
              - ByName
              - ByPrice
              - ByRate
              - ByRateAndYieldToClient
              - ByYieldToClient
        - name: orderType
          in: query
          description: 'Тип порядка. Asc - По возрастанию, Desc - по убыванию '
          schema:
            type: string
            enum:
              - Asc
              - Desc
        - name: filter
          in: query
          description: 'Текстовый поиск по названию бумаги '
          schema:
            type: string
        - name: sector
          in: query
          description: 'Фильтрация по отрасли '
          schema:
            type: string
        - name: basicAssetType
          in: query
          description: 'Фильтрация по типу базового актива '
          schema:
            type: string
        - name: futuresType
          in: query
          description: 'Фильтрация по типу фьючерса '
          schema:
            type: string
        - name: isPrivate
          in: query
          description: 'Фильтр по приватным позициям '
          schema:
            type: boolean
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ на получение информации о фьючерсах
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - futures
      summary: Метод для получения информации о фьючерсе
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на получение информации о фьючерсах
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuturesListRequest'
        required: false
      responses:
        200:
          description: Ответ на получение информации о фьючерсах
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesListResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /invest_profile/get:
    get:
      tags:
        - invest_profile
      summary: Метод для получения вычисленного инвест профиля
      parameters:
        - name: siebelId
          in: query
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Результат вычисления инвест профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestProfileCalculationResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - invest_profile
      summary: Метод для получения вычисленного инвест профиля
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateInvestProfileGetRequest'
        required: false
      responses:
        200:
          description: Результат вычисления инвест профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestProfileCalculationResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /isg/portfolio:
    get:
      tags:
        - isg
      summary: Метод для получения портфеля
      parameters:
        - name: siebelId
          in: query
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Информация о портфеле ИСЖ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsgPortfolioInfoEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - isg
      summary: Метод для получения портфеля
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsgPortfolioPrivateRequest'
        required: false
      responses:
        200:
          description: Информация о портфеле ИСЖ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsgPortfolioInfoEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /logs/find:
    get:
      tags:
        - logs
      parameters:
        - name: siebelId
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
        - name: to
          in: query
          required: true
          schema:
            type: string
        - name: requestPath
          in: query
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogFindResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - logs
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogFindRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogFindResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /notes/get:
    get:
      tags:
        - notes
      summary: Метод для получения информации по ноте
      parameters:
        - name: isin
          in: query
          description: 'isin ноты '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructuredNoteResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - notes
      summary: Метод для получения информации по ноте
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос информации по конкретной ноте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StructuredNoteRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructuredNoteResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /order/cancel:
    get:
      tags:
        - order
      summary: Метод для отмены рыночной или лимитной заявки
      parameters:
        - name: brokerAccountType
          in: query
          description: 'Тип брокерского счета, Tinkoff или TinkoffIis '
          schema:
            type: string
            enum:
              - Bcs
              - TinkoffIis
              - Tinkoff
              - OtherAssets
        - name: brokerAccountId
          in: query
          description: 'Номер брокерского счёта '
          schema:
            type: string
        - name: orderId
          in: query
          description: 'Номер поручения '
          required: true
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - order
      summary: Метод для отмены рыночной или лимитной заявки
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /order/hold_buy_price:
    get:
      tags:
        - order
      summary: Метод для заморозки цены покупки бумаги по тикеру
      parameters:
        - name: ticker
          in: query
          description: 'Тикер '
          required: true
          schema:
            type: string
        - name: accountType
          in: query
          description: 'Тип брокерского счета '
          schema:
            type: string
            enum:
              - Bcs
              - TinkoffIis
              - Tinkoff
              - OtherAssets
        - name: brokerAccountId
          in: query
          description: 'Номер брокерского счёта '
          schema:
            type: string
        - name: orderType
          in: query
          description: 'Тип заявки (поддерживается только Market) '
          schema:
            type: string
            enum:
              - Market
              - Limit
              - Issuance
              - IssuanceTib
        - name: quantity
          in: query
          description: 'Количество запрашиваемых лотов '
          schema:
            type: integer
            format: int64
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ на заморозку цены покупки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHoldBuyPriceViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - order
      summary: Метод для заморозки цены покупки бумаги по тикеру
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на заморозку цены покупки
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldBuyPriceRequest'
        required: false
      responses:
        200:
          description: Ответ на заморозку цены покупки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHoldBuyPriceViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /order/hold_sell_price:
    get:
      tags:
        - order
      summary: Метод для заморозки цены продажи бумаги по тикеру
      parameters:
        - name: ticker
          in: query
          description: 'Тикер '
          required: true
          schema:
            type: string
        - name: accountType
          in: query
          description: 'Тип брокерского счета '
          schema:
            type: string
            enum:
              - Bcs
              - TinkoffIis
              - Tinkoff
              - OtherAssets
        - name: brokerAccountId
          in: query
          description: 'Номер брокерского счёта '
          schema:
            type: string
        - name: orderType
          in: query
          description: 'Тип заявки (поддерживается только Market) '
          schema:
            type: string
            enum:
              - Market
              - Limit
              - Issuance
              - IssuanceTib
        - name: quantity
          in: query
          description: 'Количество запрашиваемых лотов '
          schema:
            type: integer
            format: int64
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ на заморозку цены продажи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHoldSellPriceViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - order
      summary: Метод для заморозки цены продажи бумаги по тикеру
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на заморозку цены продажи
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldSellPriceRequest'
        required: false
      responses:
        200:
          description: Ответ на заморозку цены продажи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHoldSellPriceViewEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /order/limit_order:
    get:
      tags:
        - order
      summary: Метод подачи лимитной заявки на покупку или продажу
      parameters:
        - name: ticker
          in: query
          description: 'Тикер бумаги '
          required: true
          schema:
            type: string
        - name: price
          in: query
          description: 'Лимитная цена '
          required: true
          schema:
            type: number
            format: number
        - name: quantity
          in: query
          description: 'Количество лот '
          required: true
          schema:
            type: integer
            format: int64
        - name: side
          in: query
          description: 'Buy/Sell '
          required: true
          schema:
            type: string
            enum:
              - Buy
              - Sell
        - name: accountType
          in: query
          description: 'Тип счёта '
          schema:
            type: string
            enum:
              - Bcs
              - TinkoffIis
              - Tinkoff
              - OtherAssets
        - name: brokerAccountId
          in: query
          description: 'Номер брокерского счета '
          schema:
            type: string
        - name: dispatchId
          in: query
          description: 'DispatchId (id отправки) виджета клиенту - Индивидуальная Инвестиционная
          Рекомендация '
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseTraitEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - order
      summary: Метод подачи лимитной заявки на покупку или продажу
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Запрос на подачу лимитной заявки
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitOrderRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseTraitEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /order/market_order:
    get:
      tags:
        - order
      summary: Метод подачи рыночной заявки на покупку или продажу
      parameters:
        - name: priceHoldId
          in: query
          description: 'ID удержанной цены '
          required: true
          schema:
            type: string
        - name: quantity
          in: query
          description: 'Количество лотов '
          required: true
          schema:
            type: integer
            format: int64
        - name: side
          in: query
          description: 'Buy/Sell '
          required: true
          schema:
            type: string
            enum:
              - Buy
              - Sell
        - name: dispatchId
          in: query
          description: 'DispatchId (id отправки) виджета клиенту - Индивидуальная Инвестиционная
          Рекомендация '
          schema:
            type: string
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseTraitEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - order
      summary: Метод подачи рыночной заявки на покупку или продажу
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      requestBody:
        description: Подача рыночной заявки на покупку или продажу
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketOrderRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseTraitEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-codegen-request-body-name: payload
  /other/currencies_config:
    get:
      tags:
        - other
      summary: Запрос для вывода активной конфигурации и последних ЦБ курсов валют
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
          schema:
            type: string
        - name: appVersion
          in: query
          schema:
            type: string
        - name: origin
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
      responses:
        200:
          description: Ответ запроса конфигурации валют
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesConfigResponseEnvelope'
        202:
          description: Default Error structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
    post:
      tags:
        - other
      summary: Запрос для вывода активной конфигурации и последних ЦБ курсов валют
      parameters:
        - name: sessionId
          in: query
          schema:
            type: string
        - name: siebelId
          in: query
          schema:
            type: string
        - name: appName
          in: query
[...]
